<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @guest.phonenumber %>
</p>

<%= link_to 'Back', guests_path, :type => "button", :class => "btn btn-danger" %> |
<%= link_to 'Edit', edit_guest_path(@guest), :type => "button", :class => "btn btn-primary" %>