<h1 class="page-header">Listing Users</h1>

<table align="center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.phonenumber %></td>
        <td>&nbsp;<%= link_to '', user, :class => "fa fa-eye", :style => "color:blue;" %>&nbsp;</td>
        <td><%= link_to '', edit_user_path(user), :class => "fa fa-edit", :style => "color:blue;" %>&nbsp;</td>
        <td><%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o", :style => "color:red;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :type => "button", :class => "btn btn-primary" %>
