<h1>Listing events</h1>

<table align="center">
  <thead>
    <tr>
      <th>Details</th>
      <th>Date</th>
      <th>Time interval</th>
      <th>Time of last send</th>
      <th>Time for first send</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.details %></td>
        <td><%= event.date %></td>
        <td><%= event.time_interval %></td>
        <td><%= event.time_of_last_send %></td>
        <td><%= event.time_for_first_send %></td>
        <td>&nbsp;<%= link_to '', event, :class => "fa fa-eye", :style => "color:blue;" %>&nbsp;</td>
        <td><%= link_to '', edit_event_path(event), :class => "fa fa-edit", :style => "color:blue;" %>&nbsp;</td>
        <td><%= link_to '', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o", :style => "color:red;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Logout', root_path, :type => "button", :class => "btn btn-danger" %> |
<%= link_to 'New Event', new_event_path, :type => "button", :class => "btn btn-primary" %> |
<%= link_to 'Guests', guests_path, :type => "button", :class => "btn btn-primary" %>

