<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rsvp.guest_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @rsvp.event_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @rsvp.answer %>
</p>

<%= link_to 'Back', rsvps_path, :type => "button", :class => "btn btn-danger" %> |
<%= link_to 'Edit', edit_rsvp_path(@rsvp), :type => "button", :class => "btn btn-primary" %>